* {
	margin: 0px;
	padding: 0px;
}
body {
		text-align: center;
}

#page {
		margin:0 auto;
		width:960px;
		text-align:left;
}

#header {
	height : 215px;
	background-color: #00FF00;
}

#cc {
	float:right;
	width:720px;
	padding:24px;
}

#cs {
	float:right;
	width:144px;
	height:300px;
	padding:24px;
	background-color: #006600;
}

#cs ul{
	padding:70px;
	list-style:none;
}

#cs li a{
	text-decoration:none;
	padding-top:5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #eee;
	display:block;
}

#cs li a:hover {
	background-image: url(../image/trans.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

#login {
	padding-top:350px;
	width:170px;
	height:200px;
}

#footer{
	clear:right;
	background-color: #666666;
}