body {
	font-family : verdana, arial, helvetica, sans-serif;
	font-size : 12px;
}

#container{
	width : 1000px;
	font-size:90%;
	margin : 0 auto;
}

#header{
	padding : 0;
	height : 75px;
	border : #0000ff dashed 1px;
	background-color : #99ccff;
	padding-left : 10px;
}

#header h1{
	display : block;
	width : 815px;
	padding : 10px;
	color : #003399;
}

#sidebar{
	border : #0000ff dashed 1px;
	margin-top : 10px;
	width : 20%;
	float : left;
	background-color : #99ccff;
}

#sidebar h3{
	color : #993300;
	padding-left : 10px;
	font-family : 'trebuchet ms', helvetica, arial, sans-serif;
}

ul#navmenu{
	margin : 0;
	padding : 0;
	list-style-type : none;
	text-align : left;
}

ul#navmenu li{
	display : inline;
}

ul#navmenu a{
	display : block;
	width : auto;
	height : auto;
	background-color : #003366;
	padding : 5px 5px 3px;
	margin-bottom : 5px;
	text-decoration : none;
	color : yellow;
	cursor : pointer;
}

ul#navmenu a:hover, ul#navmenu a:focus, ul#navmenu a:active{
	background-color : #333;
	color : #fff;
}

ul#navmenu a.selected, ul#navmenu a.selected:hover, ul#navmenu a.selected:focus, ul#navmenu a.selected:active{
	background-color : #386088;
	color : #fff;
}

ul#navmenu a.selected{
	text-align : right;
	cursor : default;
}



#page{
	border : #0000ff dashed 1px;
	margin-top : 10px;
	padding : 10px;
	width : 764px;
	float : right;
}

#page h2{
	color : #993300;
	font-family : 'trebuchet ms', helvetica, arial, sans-serif;
}

img{
	border : none;
}

#clear{
	clear : both;
}

#footer{
	border : #0000ff dashed 1px;
	margin-top : 10px;
	text-align : center;
	background-color : #99ccff;
}
#login{
	padding: 10px;
}